* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wellcome {
  background-image: url("./media/bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
}

.wellcome__hgroup {
  max-width: 1280px;
  height: 545px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

@media (orientation: landscape) {
  .wellcome__hgroup {
    margin: 50px auto;
    height: auto;
  }
}

.wellcome__hgroup__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 10px 0;
}

.wellcome__hgroup__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: 0 4px 4px black, 0 6px 4px black, 0 8px 4px black;
}

.about {
  height: 538px;
  padding: 55px 32px 0 32px;
  background-color: #141414;
  color: #fff;
  padding: 55px 32px;
}

@media (min-width: 960px) {
  .about {
    background-color: #fff;
    color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.about__img-container {
  max-width: 380px;
  max-height: 480px;
  margin: 0;
  display: inline-block;
  align-self: flex-end;
}

.about__img {
  display: none;
}

@media (min-width: 960px) {
  .about__img {
    display: inherit;
    margin-right: 50px;
  }
}

.about__text-container {
  max-width: 610px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .about__text-container {
    margin: 0;
    display: inline-block;
  }
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin-bottom: 45px;
}

@media (min-width: 960px) {
  .about__title {
    text-align: start;
  }
}

.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 960px) {
  .about__text {
    font-size: 24px;
  }
}

.services {
  padding: 70px 57px 0 57px;
  background-color: #fafafa;
}

.services__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #2c2c2c;
  margin: 0 0 50px 0;
  text-align: center;
}

.services__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .services__container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 200px;
  }
}

.service {
  display: flex;
  flex-direction: column;
  width: 262px;
  margin-bottom: 100px;
}

.service__img {
  width: 138px;
  margin: 0 auto 18px auto;
}

.service__title {
  text-align: center;
  margin: 0 0 7px 0;
  font-family: "Poppins", sans-serif;
  font-family: 24px;
  font-weight: 700;
}

.service__text {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: 16px;
  font-weight: 400;
}

.contact {
  background-color: #141414;
}

@media (min-width: 769px) {
  .contact-cont {
    max-width: 769px;
    margin: 0 auto;
    display: flex;
  }
}

.contact-container {
  background-color: #141414;
}

.contact__title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 0 0;
  max-width: 960px;
  color: #fff;
}

@media (min-width: 769px) {
  .contact__title {
    font-size: 48px;
    margin-right: 77px;
  }
}

.footer-container {
  height: auto;
  background-color: #2c2c2c;
}
